<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.MenuMapper">

	<resultMap type="com.entity.Menu" id="MenuAll">
		<id property="id" column="id"/>
		<result property="pid" column="pid"/>
		<result property="menuname" column="menuname"/>
		
		<association property="operation" javaType="com.entity.Operation">
			<id property="id" column="id"/>
			<result property="menuname" column="menuname" />
			<result property="pid" column="pid" />
		</association>
		
		<association property="function" javaType="com.entity.Function">
			<id property="id" column="id"/>
			<result property="menuname" column="menuname" />
		</association>
	</resultMap>


	<!-- 查询登陆时查询分配的菜单 -->
	<select id="selectLoginMenus" resultType="com.entity.Menu">
		<!-- select m.* from menu m
		where m.flag = 1 and m.id in (select rm.menuId from role_menu rm
		where rm.roleId = #{roleId}) -->
		select m.* from menu m where m.state = 1 and m.id in (select rm.menuId from role_menu rm where rm.roleId = #{roleId})
	</select>

	<!-- DataTabables 分页，搜索  -->
	<select id="getPageMenuList" resultType="com.entity.Menu">
		select * from menu
		<where>
			<if test="subSQL != null and subSQL != '' ">
				${subSQL}
			</if>
			<if test="search != null and search != ''">
				and INSTR(ifnull(menuname,''),'${search}') > 0
			</if>
		</where>
	</select>
	
	<!-- 查询所有pid=0的顶级菜单 -->
	<select id="selPid" resultType="com.entity.Menu">
		select * from menu where state = 1 and pid = 0
	</select>
	
	<!-- 添加Menu菜单 -->
	<insert id="insertMenu" parameterType="com.entity.Menu">
		insert into menu (menuname,pid,url,state,remark,iconfont) values (#{menuname},#{pid},#{url},#{state},#{remark},#{iconfont})
	</insert>
	
	<!-- 添加菜单时，名称重复验证 -->
	<select id="selMenuByAdd" resultType="com.entity.Menu">
		select menuname from menu where menuname = #{menuname}
	</select>

	<!-- 添加菜单时，url重复验证 -->
	<select id="selUrlByAdd" resultType="com.entity.Menu">
		select url from menu where url = #{url}
	</select>

	<!-- 修改菜单内容 -->
	<update id="updateMenu" parameterType="com.entity.Menu">
		update menu set menuname = #{menuname},pid = #{pid},url = #{url},remark = #{remark} where id = #{id}
	</update>
	
	<!-- 更新菜单时，名称重复验证 -->
	<select id="selMenu" resultType="com.entity.Menu">
		select menuname from menu where id != #{1} and menuname =#{0}
	</select>

	<!-- 更新菜单时：url重复验证 -->
	<select id="selUrl" resultType="com.entity.Menu">
		select url from menu where id != #{1} and url =#{0}
	</select>
	
	<!-- 根据ID查询菜单 -->
	<select id="selMenuById" resultType="com.entity.Menu">
		select * from menu where id = #{id}
	</select>
	
	<!-- 修改菜单状态  -->
	<update id="updateMenuState" parameterType="com.entity.Menu">
		update menu set state = #{state} where id = #{id}
	</update>
	
	<!-- 根删除菜单 （单条多条）-->
	<delete id="delMenu">
		delete from menu where id in
		<foreach collection="idlist" item="id" index="index" open="(" close=")" separator=",">
			#{id,jdbcType=INTEGER}
		</foreach>
	</delete>
	
	<!-- 查询菜单下的子菜单数量 -->
	<select id="selectCountMenu" resultType="int">
		select count(menuname) from menu where pid in
			<foreach collection="idlist" item="pid" index ="index" open="(" close=")" separator=",">
				#{pid,jdbcType=INTEGER}
			</foreach>
	</select>
	
	
	<!-- 查询所有菜单 -->
	<select id="selAllMenu" resultType="com.entity.Menu">
		select * from menu
	</select>
	
	
	<!-- 根据菜单名称查询 信息，用与自动存功能 -->
	<select id="selectByMneuName" resultType="com.entity.Menu">
		select * from menu where menuname = #{menuname}
	</select>
	
	
	<!-- 查询所有菜单   用于菜单权限分配 -->
	<select id="selAllMenuByZtree" resultMap="MenuAll">
		select menu.id,menu.menuname,menu.pid from menu where menu.state = 1 union select operation.id,function.menuname,operation.pid from operation,function where operation.menuname = function.id
	</select> 
	
	<!-- 根据url,查询所有菜单 -->
	<select id="selectForUrl" resultType="int">
		select id from menu where url = #{url}
	</select>

</mapper>